POSTGRES_DB=shopflow
POSTGRES_USER=shopflow
POSTGRES_PASSWORD=shopflow

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

TRINO_USER=admin

SUPERSET_SECRET_KEY=shopflow-dev-superset-secret-change-me
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@shopflow.local
SUPERSET_TRINO_URI=trino://admin@trino:8080/iceberg
